/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 *{
  list-style: none;
  margin: 0;
  padding: 0;
 }


.product_Listing_Page{
  padding: 45px 0px;
}
.product_Listing_Page .productListing{
  gap: 20px;
}
.product_Listing_Page .productListing .sidebar{
  width: 20%;
  flex : 0 0 20%;
}
.product_Listing_Page .productListing .sidebar .sticky{
  position: sticky;
  top: 5px;
}
.product_Listing_Page .productListing .sidebar .filterBox{
  margin-bottom: 35px;
}
.product_Listing_Page .productListing .sidebar .filterBox h6{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 13px !important;
}
.product_Listing_Page .productListing .sidebar .scroll{
  padding: 10px;
  max-height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.product_Listing_Page .productListing .sidebar .scroll::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
.product_Listing_Page .productListing .sidebar .scroll ul{
  margin-bottom: 0px;
}
.product_Listing_Page .productListing .sidebar .scroll ul li{
  list-style: none;
  margin-bottom: 0px;
  width: 100%;
  height: 30px;
}

.css-j204z7-MuiFormControlLabel-root{
  padding: 2px !important;
}
.css-1edfpdg-MuiTypography-root {
  font-size: 13px !important;
}
.css-20bmp1-MuiSvgIcon-root{
  width: 20px !important;
  height: 20px !important;
}
.css-1y5vrnu-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-1y5vrnu-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color: #6d4aae !important;
}

.range-slider{
  height: 5px !important;
}
.range-slider .range-slider__thumb, .range-slider .range-slider__range{
  background-color: #6d4aae !important;
}
.range-slider .range-slider__thumb{
  width: 15px !important;
  height: 15px !important;
}
.priceRange{
  font-size: 12px;
}

.product_Listing_Page .productListing .content_right{
  width: 80%;
  flex : 0 0 78%;
  padding-left: 35px;
}
.product_Listing_Page .productListing .content_right img{
  width: 100%;
}
.showBy{
  width: 100%;
  height: auto;
  background: #f7f8fd;
  padding: 15px 25px;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button{
  min-width: 30px !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50% !important ;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button svg{
  color: black;
  font-size: 18px !important;
  opacity: 0.3;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button.act svg{
  opacity: 1 !important;
} 
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button:hover svg{
  opacity: 1;
}
.showByFilter button{
  min-width: auto !important;
  color: black;
}
.showByFilter button svg{
  color: black;
}
.showPerPage .MuiPaper-root{
  width: 80px;
}
.productListing{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.productListing .productItem.four{
  width: 23%;
}
.productListing .productItem.three{
  width: 31.5%;
}
.productListing .productItem.one{
  width: 100%;
  display: flex;
  align-items: center;
}
.productListing .productItem.one .img_rapper{
  width: 28%;
}






/* Home PAge */
body{
  font-family: "lato";
  font-size: 14px;
  color: rgba(0,0,0,0.8);

}
.text-light{
  color: #898989 !important;
}
.text-sml{
  font-size: 14px;
}
.homeProducts{
  padding: 25px 0px;
  width: 100%;
}
.homeProducts .banner{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.productRow .hd{
  font-size: 25px;
  font-weight: 600;
}




